@model List<WebView.ViewModels.ListagemViewModel>

@{
    ViewBag.Title = "Listagem de pessoas";
}

<h3>Listagem de pessoas</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Buscar"))
        {
            <div class="row">
                <div class="col-md-3">
                    <label>Nome</label>
                    <input type="text" class="form-control" name="nome" />
                </div>
                <div class="col-md-3">
                    <label>CPF</label>
                    <input type="text" class="form-control" name="cpf" />
                </div>
                <div class="col-md-4">
                    <label style="display: block">&nbsp;</label>
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-search"></i> Pesquisar
                    </button>
                    @Html.ActionLink("Cadastrar", "Cadastro", null, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
</div>
<br/>
@Html.Partial("_Listagem", Model)
